.hourglass{
    animation: hourglass 2s infinite linear;
}

@keyframes hourglass {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(10deg);
    }
    40% {
      transform: rotate(-20deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .spinReverse {
    animation: spinReverse 2s infinite linear;

  }


  @keyframes spinReverse {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(-360deg);
    }
  }

  .spin {
    animation: spin 2s infinite linear;

  }


  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  .vshake {
    animation: verticalShake 5.82s cubic-bezier(.36,.07,.19,.97) infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  }

  
  .hshake{
    animation: horizontalShake 5.82s cubic-bezier(.36,.07,.19,.97) infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    animation-delay: 0.4s
  }


  .hshakeDelayed{
    animation: horizontalShake 5.82s cubic-bezier(.36,.07,.19,.97) infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    animation-delay: 0.7s
  }


  @keyframes verticalShake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(1px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-1px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(1px, 0, 0);
    }
  }

  @keyframes horizontalShake {
    10%, 90% {
      transform: translate3d(-1px, -1px, 0);
    }
    
    20%, 80% {
      transform: translate3d(1px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-1px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(1px, -1px, 0);
    }
  }

  .ghostlyShake{
    -webkit-animation-name: ghostlyShake;
	-webkit-animation-duration: 2s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
    opacity: 1
  }

  @keyframes ghostlyShake {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg) ;  }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg);   }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg);  }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg ); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.ghostlyShake2{
    -webkit-animation-name: ghostlyShake2;
	-webkit-animation-duration: 2s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
    opacity: 1
  }

  @keyframes ghostlyShake2 {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg) ;  }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg);   opacity: 0.5;}
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg);   opacity: 0.9;}
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); opacity: 0.0}
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); opacity: 0.8}
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg ); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.rotate-45{

    transform: rotate(-45deg) 
}