html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;

}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block; 
}

.mainBackground{
  background-image: linear-gradient(
    180deg,
    hsl(212deg 93% 22%) 0%,
    hsl(207deg 100% 23%) 11%,
    hsl(203deg 100% 25%) 22%,
    hsl(200deg 100% 27%) 33%,
    hsl(197deg 100% 29%) 44%,
    hsl(194deg 87% 33%) 56%,
    hsl(193deg 65% 39%) 67%,
    hsl(191deg 51% 45%) 78%,
    hsl(189deg 41% 50%) 89%,
    hsl(185deg 40% 55%) 100%
  );
}